1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.


# * 

'hello'

-87.8

-

/ 

+

6

In [ ]:
*   = expression

'hello' = value

-87.8   = value

-   = expression

/   = expression

+   = expression

6       = value

2. What is the difference between string and variable?

In [ ]:
string : it is a datatype which can contain any kind and any number of 
        characters,special characters and numeric value within single or double quotes during runtime.
        
variable : entity which holds dataset in main memory by allocating spaces with a variable name.

3. Describe three different data types.

In [ ]:
1. integer         : its a datatype which holds only numeric non-decimal real values.
2. string          : datatype which van hold any kind of values within double/single quotes.
3. floating point  : datatype which can only hold decimal numerical values.
4. complex         : datatype containing complex numbers which have both real and imaginery values.
5. boolean         : datatype which contains only True/False value.

4. What is an expression made up of? What do all expressions do?

In [ ]:
expression : these are made up of values and operators to perform 
            certain mathematical/non mathematical opeations based on datatype to get a 
            desired output values following the required rules.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
statments are like a command in programming language where providing a command to get a 
certain condition/situation to perform desired operations, it alone does not gives any output values on execution.
ex: spam = 10 (is an assignment operation which is not providing any output value but creating a situation 
    where we can use spam variable to perform required operation for desired output.)


expressions are operations which provides desired output values under the situations(if required).
ex: spam + 30

6. After running the following code, what does the variable bacon contain?

bacon = 22

bacon + 1

In [ ]:
22

In [3]:
bacon = 22

In [4]:
bacon  + 1

23

In [5]:
bacon

22

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3

In [6]:
'spam'+'spamspam'

'spamspamspam'

In [7]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
variable name cannot have any special characters expect '_' and only digits, cannot start with digit or numerical value 
but it can contain characters and combination of numbers + characters.

In [26]:
100 = 'a'

SyntaxError: cannot assign to literal (Temp/ipykernel_10160/1886618272.py, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [27]:
float()

0.0

In [28]:
str()

''

In [29]:
int()

0

10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

In [ ]:
different datatypes(like string and integer) cannot be added and concatenated, for concatenation datatype must be same.

To avoid the error we need to make dataype same.

In [31]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'